//mobile first

.homeNavBar {
  width: 100%;
  display: flex;
  padding: 9.5rem 0 .5rem 0;
  justify-content: space-around;
  &-anchor-container {
    display: flex;
    flex-direction: column;
    &-icon-container {
      padding: 1rem;
      text-align: center;
      &-ref {
        display: inline-flex;
        text-align: center;
        border: solid white 2px;
        border-radius: 50%;
        padding: 1rem;
        background: linear-gradient(45deg,rgba(61,76,82,.87),rgb(250 251 255 / 49%))
      }
    }
    &-text {
      text-align: center;
      color: white;
      font-weight: 600;
      font-size: 1.1em;
      text-shadow: black 1px 0 3px;
    }

  }
}

.icon-anchor {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}


// tablettes
@media screen and (min-width : 768px) {
  /* Styles for this Media Queries */

  .homeNavBar {
    padding: 10rem 0 .5rem 0;
  }
}

//desktop
@media screen and (min-width : 1024px) {
  /* Styles for this Media Queries */
  .homeNavBar {
    border-top: none;
    &-anchor-container {
      display: flex;
      flex-direction: column;
    }
  }

  .icon-anchor{
    font-size: 3.5em;
    &:hover {
      transform: rotateY(180deg);
    } 
  }
}
