.homeNavBar {
  background-color: rgb(201, 77, 77);
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}

.homeNavBar-ref {
  margin: 1% 10%;
  border: solid black 1px;
  border-radius: 50%;
  padding: 2%;
}

.icon-anchor {
  font-size: 70px;
}

.icon-anchor:hover {
  animation: rotateplane 3s infinite ease-in-out;

  @keyframes rotateplane {
    0% {
      transform: perspective(0px) rotateX(0deg) rotateY(360deg);
    }
  }
}  
