.signin {
    background: linear-gradient(45deg,rgb(83, 24, 14), rgb(243, 63, 39));
    position: relative;
    height: 100vh;
    &-content {
      position: absolute;
      top: 5rem;
      left: 25%;
      background: linear-gradient(270deg,rgba(255,255,255, .5), rgba(255,255,255, .2));
      filter: drop-shadow(20px 10px 10px #FF0000);
      border: solid 1px black;
      border-radius: 5px;
      width : 50%;
      height: 350px;
      text-align: center;
      &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        &-input {
          width: 100%;
          padding: 1rem;
          margin-bottom: 1rem;
          border-radius: 4px;
          border: solid 1px black;
          outline: none;
        }
        &-button {
          padding: 1rem;
          width: 50%;
          color: white;
          border-radius: 5px;
          background-color: rgb(167, 33, 33);
        }
      }
      &-icon {
        margin-top: 1rem;
        font-size: 4em;
      }
  }
  };

  //mobile first


// tablettes
@media screen and (min-width : 768px) {
  /* Styles for this Media Queries */
}

//desktop
@media screen and (min-width : 1024px) {
  /* Styles for this Media Queries */
}
