//mobile first
.new-offer {
  margin-top: 100px;
  width: 100%;

  &-closeButton {
    margin-bottom: 1rem;
    width: 3rem;
    border-radius: 5px;

    &:hover {
      background-color: rgb(145, 129, 129);
    }
  }
  
  &-content {
    background-color: grey;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    &-form {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      &-input {
        width: 100%;
        border: none;
        padding: 1rem;
        border-radius: 8px;
        margin: 1rem 0;
      }

      &-button {
        font-size: 1.2rem;
        font-weight: 400;
        width: 50%;
        margin: auto;
        padding: 2rem;
        border-radius: 10px;
        &:hover{
          background-color: rgb(145, 129, 129);
        }
      }
    }
  }

}


// tablettes
@media screen and (min-width : 768px) {
  /* Styles for this Media Queries */
}

//desktop
@media screen and (min-width : 1024px) {
  /* Styles for this Media Queries */

  .new-offer {
    padding-bottom: 3rem;
    &-content {
      margin: 0 auto;
      width: 80%;

      &-form {
        display: block;
        width: 100%;
        &-input {
          width: 100%;
          border: none;
          padding: 1rem;
          border-radius: 8px;
          margin-bottom: 1rem;
        }

        &-description {
          margin: 1rem 0;
        }
  
        &-button {
          margin-left: 38%;
          font-size: 1.2rem;
          font-weight: 400;
          width: 25%;
          padding: 2rem;
          border-radius: 10px;
          &:hover{
            background-color: rgb(145, 129, 129);
          }
        }
      }
    }
  }
}


