//mobile first
.new-offer {
  margin-top: 100px;
  width: 100%;

  &-closeButton {
    font-size: 2em;
    color: white;
    margin-bottom: 1rem;
    width: 2.2rem;
    border-radius: 5px;
    background-color: rgba(18,67,86,.87);
    border: none;

    &:hover {
      font-weight: bold;
    }
  }
  
  &-content {
    margin: 1rem;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(18,67,86,.87);
    border-radius: 15px;

    &-form {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      &-input {
        width: 100%;
        border: 2px solid rgba(18,67,86,.87);
        padding: 1rem;
        border-radius: 8px;
        margin: 1rem 0;
      }

      &-description {
        margin-bottom: 1rem;
      }

      &-button {
        font-size: 1.2rem;
        font-weight: 400;
        width: 100%;
        margin: 0 auto;
        margin-top: 2em;
        padding: 2rem;
        border-radius: 10px;
        border: none;
        background-color: rgba(18,67,86,.87);
        color: white;
        display: block;
        &:hover{
          font-weight: bold;
        }
      }
    }
  }

}


// tablettes
@media screen and (min-width : 768px) {
  /* Styles for this Media Queries */
}

//desktop
@media screen and (min-width : 1024px) {
  /* Styles for this Media Queries */

  .new-offer {
    padding-bottom: 3rem;
    &-content {
      margin: 0 auto;
      width: 80%;
      &-form {
        display: block;
        width: 100%;
        &-button {
          width: 25%;
        }
      }
    }
  }
}


