.aboutus {
  &-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  &-card {
    text-align: center;
    width: 60%;
    margin: 1% 0;
    border: solid 3px #81252a;
    border-radius: 25px;
    background: #ececec;
    padding: 1% 0;
    &-profilepic {
      height: 7em;
      width: 7em;
      border-radius: 25px;
    }
  }
  &-card * {
    padding: 1%;
  }
}

//desktop
@media screen and (min-width : 1024px) {
  .aboutus {
    &-card {
      width: 15%;
    }
  }
}
