//mobile first
.offer {
  margin: 150px 1rem 0 auto;
  display: flex;
  justify-content: center;
  &-focused {
    // position relative to fix the Confirm Modal
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    
    &-card {
      display: flex;
      flex-direction: column;
      background-color: rgb(255, 255, 255);
      border: solid 2px rgba(18,67,86,.87);
      border-radius: 15px;
      width: 100%;
      margin: 1rem auto;
      padding: 1rem;

      &-content {
        line-height: 2em;
      }

      &-header {
        border-bottom: solid 2px rgba(18,67,86,.87);
        &-title, &-city, &-type {
          font-weight: 600;
          padding: 1%;
        }

        &-title {
          font-size: 1.5em;
        }

        &-city {
          font-size: 1.2em;
        }

        &-modifyButton {
          font-size: 1.2em;
          border: none;
          padding: 1rem;
          margin: 1rem auto 0 auto;
          border-radius: 5px;
          background-color: rgba(18,67,86,.87);
          color: white;
          display: block;
          margin-bottom: 2em;
          &:hover {
            font-weight: bold;
          }
        }
      }
      &-deleteButton, .show-apply-button {
        border: none;
        padding: 1rem;
        margin: 1rem auto 0 auto;
        border-radius: 5px;
        background-color: rgba(18,67,86,.87);
        color: white;
        font-size: 1.2em;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
    
}

.back-to-offers-link {
  font-family: 'Nunito', sans-serif;
  background-color: rgba(18,67,86,.87);
  color: white;
  border-radius: 10px;
  width: 8rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  &:hover {
    font-weight: bold;
  }
}

.apply {
  margin-top: 2rem;
  padding: 1rem;
  &-title {
    padding-top: 1em;
    border-top: solid 2px rgba(18,67,86,.87);
    font-weight: 400;
  }
  &-content-form {
    display: flex;
    margin-bottom: 1rem;

    &-input {
      width: 100%;
      border: solid 2px rgba(18,67,86,.87);
      padding: 1rem;
      border-radius: 8px;
      margin: 1rem 0;
    }

    &-applyButton {
      border: none;
      background-color: rgba(18,67,86,.87);
      font-size: 1.2rem;
      font-weight: 400;
      width: 100%;
      margin: 1rem auto;
      padding: 1rem;
      border-radius: 10px;
      color: white;
      &:hover{
        font-weight: bold;
      }
    }
  }
}

.message {
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: bold;
}

.hide-apply-button {
  display: none;
}


// tablettes
@media screen and (min-width : 768px) {
  /* Styles for this Media Queries */
  .offer {
    margin-top: 90px;
  }
}

//desktop
@media screen and (min-width : 1024px) {
  /* Styles for this Media Queries */
  .offer {
    margin-top: 110px;
    &-focused {
      flex-direction: row;
      &-card {
        justify-content: space-between;
        min-height: 500px;
        width: 70%;
      }
    }
    .back-to-offers-link {
      width: 11rem;
      height: 4.5rem;
      padding: 1rem;

    }
  }

  .apply {
    margin-top: 3rem;
  }
}




