//mobile first
.admin {
  padding: 1rem 0 3rem 0;
  &-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(45deg,rgb(83, 24, 14), rgb(243, 63, 39));
    border-radius: 5px;
    padding: 1.5rem;
    text-align: center;
  }
  &-header {
    &-icon {
      margin-bottom: 1rem;
      font-size: 3rem;
    }
    &-title {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
  &-content {
    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-input{
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 4px;
        border: solid 1px black;
        outline: none;
      }
      &-list{
        margin-bottom: 2rem; 
        text-align: left;

      }
      &-button{
        padding: 1rem;
        width: 50%;
      }
    }
    
  }
}


// tablettes
@media screen and (min-width : 768px) {
  /* Styles for this Media Queries */
  .admin {
    &-container {
      width: 70%;
    }
  }
}

//desktop
@media screen and (min-width : 1024px) {
  /* Styles for this Media Queries */
  .admin {
    &-container {
      width: 60%;
      border-radius: 10px;
      padding: 1.5rem 0 3rem 0;
    }

    &-content {
      &-form {
        &-input{
          width: 50%;
        }
      }
      
    }
  }
}
