//mobile first
.admin {
  margin-top: 100px;
  padding: 1rem 0 3rem 0;
  &-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    background: rgba(18,67,86,.87);
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
  }
  &-header {
    color: white;
    &-icon {
      margin-bottom: 1rem;
      font-size: 3rem;
    }
    &-title {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
  &-content {
    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-input{
        border: none;
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 4px;
        outline: none;
      }
      &-list{
        color: white;
        margin-bottom: 2rem; 
        text-align: left;
      }
      &-button{
        width: 80%;
        padding: 1rem;
        border-radius: 10px;
        border: none;
        color: rgba(18,67,86,.87);
      }
    }
    
  }
}

.messageAdmin {
  color: white;
  margin: 1em 0;
  font-weight: bold;
}

// tablettes
@media screen and (min-width : 768px) {
  /* Styles for this Media Queries */
  .admin {
    &-container {
      width: 70%;
    }
  }
}

//desktop
@media screen and (min-width : 1024px) {
  /* Styles for this Media Queries */
  .admin {
    &-container {
      width: 60%;
      border-radius: 10px;
      padding: 1.5rem 0 3rem 0;
    }

    &-content {
      &-form {
        &-input{
          width: 60%;
        }
        &-button{
          width: 40%;
          &:hover {
            font-weight: bold;
          }
        }
      }
      
    }
  }
}
