.history {
  &-article {
    line-height: 2rem;
    width: 97%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  &-title {
    margin: 1rem;
    text-align: center;
  }
  &-image {
    width : 50%;
    background-color: rgb(201, 77, 77);
  }
  &-content {
    max-width: 50%;
    padding: 1rem;
  }
}
