//mobile first
.history {
  &-title {
    margin: 0;
    padding: 5rem 0 2rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(18,67,86);
  }
  &-colibri {
    display: none
  }
  &-ldo {
    display: none
  }
  &-article {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
    justify-content: space-between;
  }

  &-content {
    color: white;
    width: 100%;
    padding: 1rem;
    text-align: justify;
    font-weight: 400;
  }
}

// tablettes
@media screen and (min-width : 768px) {
  /* Styles for this Media Queries */
  .history {
    &-content {
      font-weight: 600;
      border-radius: 10px;
      background-color: rgba(18,67,86,.3);
    }
  }
}

//desktop
@media screen and (min-width : 1024px) {
  /* Styles for this Media Queries */
  .history { 
      &-colibri {
        left: 17%;
        top: 30%;
        position: absolute;
        display: block;
        height: 7rem;
        width: auto;
        animation: slideinColibri 3s cubic-bezier(0, 0, 0.31, 1.65);
      }
  
      &-ldo {
        right: 18%;
        top: 60%;
        position: absolute;
        display: block;
        height: 2rem;
        width: auto;
        animation: slideinLdo 3s cubic-bezier(0, 0, 0.31, 1.65);
      }
  
      &-title {
        position: relative;
        font-size: 2em;
        font-weight: 600;
        padding: 6rem 0 2rem 0;
      }
    
    &-article {
      position: relative;
      margin-top: 3rem;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      line-height: 3em;
    }

    &-content {
      width : 50%;
      font-weight: 700;
      background-color: rgba(18,67,86,.5);
    }
  }

  @keyframes slideinLdo {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slideinColibri {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
}


//big desktop
@media screen and (min-width : 1450px) {
  /* Styles for this Media Queries */
  .history { 
    &-colibri {
      left: 25%;
    }

    &-ldo {
      right: 25%;
    }
  }
}
