.history {
  &-section {
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
  &-title {
    margin: 1rem;
    text-align: center;
  }
  &-img {
    width : 50%;
    background-color: rgb(201, 77, 77);
  }
  &-content {
    max-width: 50%;
    padding: 1rem;
  }
}
