//mobile first
.header {
  width: 100%;
  // display: flex;
  // align-items: center;
}

.menu-connected {
  display: none;
}

.logo-link {
  display: block;
  width: 100%;
  height: 180px;
  text-align: center;
}

.logo {
  width: auto;
  height: 100%;
}

.navBar {
  display: flex;
  flex-direction: column;
  width: 128px;
  justify-content: space-around;
  align-items: center;
  margin-left : 0rem;

  &_hidden {
    display: none
  }
  
  &_appear {
    animation: translateMenu 1s;
  }

  &-link {
    padding: 0.3rem;
    margin: 0.5rem 0;
  }

  &-link:hover {
    color: rgb(116, 6, 6);
  }

  &-link--selected {
    border-bottom: 2px solid #a32610;

  }
  // &_disappear {
  //   animation: translateMenu 1s;
  // }

  &-connected {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgb(222, 221, 226);
    border-radius: 5px;
    padding: 0.5rem;

    &-user {
      display: flex;
      padding: 0.5rem;
      &-icon {
        margin-right: 1rem;    
      }
    }

    // &-admin {
    //   margin: 0 ;
    // }

    &-deconnexion-button {
      margin-top: 0.5rem;
      padding: 0.5rem;
    }
  } 
}

.hamburger {
  margin-left: 2.7rem;
  font-size: 3em;

  &_open {
    transform: rotate(45deg);
    transition-duration: 1s;
  }

  &_close {
    transform: rotate(0deg);
    transition-duration: 1s;
  }
  
}

  @keyframes translateMenu{
    0% {
      transform: translateY(1em);
      opacity: 0;
    }
    100% {
      transform: translateY(0em);
      opacity: 1;
    }
  }


// tablettes
@media screen and (min-width : 768px) {
  /* Styles for this Media Queries */

  .logo-link {
    height: 250px;
  }

  .hamburger {
    display: none;
  }

  .navBar {
    width: 100%;
    color: rgb(71, 8, 34);
    display: flex;
    flex-direction: row;
    align-items:  center;
    font-weight: 700;
    font-size: 1.2em;
    color: rgb(71, 8, 34);
    padding-bottom: 1rem;
    margin-left : 0;
    
    &_hidden {
      display: flex;
    }
    
    &-connected {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items:  center;

      &-user {
        &-icon {
          margin: 0 1rem;    
        }
        }

      &-deconnexion-button {
        margin: 0 1rem;
      }
    } 

  }
}


//desktop
@media screen and (min-width : 1024px) {
  /* Styles for this Media Queries */
  .header {
    display: flex;
    align-items: center;
  }

  .navBar-connected {
    display: none;
  }

  .logo-link {
    max-width: 680px;
    width: 33%;
    height: 100%;
    object-fit: cover;
  }

  .logo {
    width: 100%;
    // display: none;
  }
  
  .navBar {
    font-weight: 800;
    font-size: 1.5em;
    color: rgb(71, 8, 34);
    width: 66%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  
  .menu-connected {
    display: inline-block;
    &-avatar {
      display: flex;
      align-items: center;
      border: none;
      cursor: pointer;
      font-size: 2rem;
      position: relative;
      margin-bottom: 0.5rem;
      &-dropdown {
        padding: 1rem;  
        border-radius: 4px;
        display: none;
        background-color: lightgrey;
        min-width: 153px;
        position: absolute;
      }

      &-dropdown li {
        padding: 0.2rem;
        display: block;
        }
    }
  }
  .menu-connected:hover .menu-connected-avatar-dropdown {
    display: block;
    }
}
