//mobile first
.header {
  width: 100%;
  // display: flex;
  // align-items: center;
}

.logo-link {
  width: 100%;
  height: 155px;
  text-align: center;
}

.logo {
  width: 100%;
  height: auto;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &_hidden {
    display: none
  }
  
  &_appear {
    animation: translateMenu 1s;
  }
  // &_disappear {
  //   animation: translateMenu 1s;
  // }
}

.hamburger {
  font-size: 3em;

  &_open {
    transform: rotate(45deg);
    transition-duration: 1s;
  }

  &_close {
    transform: rotate(0deg);
    transition-duration: 1s;
  }
  
}

  @keyframes translateMenu{
    0% {
      transform: translateY(1em);
      opacity: 0;
    }
    100% {
      transform: translateY(0em);
      opacity: 1;
    }
  }


// tablettes
@media screen and (min-width : 768px) {
  /* Styles for this Media Queries */
  .hamburger {
    display: none;
  }

  .navBar {
    display: flex;
    flex-direction: row;
    align-items:  center;
    
    &_hidden {
      display: flex;
    }
    
  .menu-connected {
    display: flex;
    justify-content: space-between;
    align-items:  center;

    &-icon {
        margin: 0 1rem;    
      }
  } 

  .menu-link-admin,.menu-connected-userInfo,.deconnexion-button {
    margin: 0 1rem;
  }

  }
}


//desktop
@media screen and (min-width : 1024px) {
  /* Styles for this Media Queries */
  .header {
    display: flex;
    align-items: center;
  }

  .logo-link {
    max-width: 680px;
    width: 33%;
    height: 100%;
    object-fit: cover;
  }

  .logo {
    width: 100%;
    // display: none;
  }
  
  .navBar {
    width: 66%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  // .menu-connected {
  //   display: inline-block;
  //   }
}
