//mobile first
.confirmModal {
  position: absolute;
  width: 100%;
  top: -1px;
  left: -1px;
  min-height: 100%;
  z-index: 15;
  background-color: white;
  padding: 1rem;

  &-closeButton {
    background-color: rgba(18,67,86,.87);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 0.6rem;
    margin-bottom: 2rem;
    &:hover {
      font-weight: bold;
    }
  }

  &-container {
    border: solid 2px rgba(18,67,86,.87);
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1.3em;
    &-text {
      margin-bottom: 2rem;
    }
    &-button {
      font-size: 1.1em;
      padding: 1rem;
      background-color: rgba(18,67,86,.87);
      border: none;
      border-radius: 10px;
      color: white;
      padding: 1rem;
      margin-top: 2em;
      margin-bottom: 1rem;
      &:hover {
        font-weight: bold;
      }
    }
  }
}

// tablettes
@media screen and (min-width : 768px) {
  /* Styles for this Media Queries */
}

//desktop
@media screen and (min-width : 1024px) {
  /* Styles for this Media Queries */
  .confirmModal {
    border: none;

    &-closeButton {
      margin-left: 2rem;
    }
  
    &-container {
      padding: 3rem;
      width: 50%;
    }
  }
}
