.activities {
  text-align: center;
  &-content {
    display: flex;
    flex-wrap : wrap;
    justify-content: space-between;
  }
  &-section {
    border: solid 2px black;
    margin: 2rem;
    padding: 1rem; 
    width: calc(50% - 4rem);
  }

}

