//mobile first
.activities {
  background: rgb(136, 38, 19);
  background: linear-gradient(to bottom, rgb(136, 38, 19) 0%, rgb(255,255,255) 8%, rgb(255,255,255) 100%);
  text-align: center;
  &-title {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 6rem 0 1rem 0;
  }
  &-content {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-section {
    border: solid 1px black;
    border-radius: 5px;
    padding: 2rem;
    width: 80%;
    position: relative;
    margin-bottom: 1rem;
    line-height: 2em;

    &-title {
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
    &-subtitle {
      font-weight: 400;
      margin-bottom: 1.5rem;
    }

  }
}

.section-icon {
  display: inline-block;
  position: absolute;
  top: 2rem;
  left: 1.5rem;
  font-size: 2em;
}


// tablettes
@media screen and (min-width : 768px) {
  /* Styles for this Media Queries */
  .activities {
    background: linear-gradient(to bottom, rgb(136, 38, 19) 0%, rgb(255,255,255) 12%, rgb(255,255,255) 100%);
  }
}

//desktop
@media screen and (min-width : 1024px) {
  /* Styles for this Media Queries */

  .activities {
    background: linear-gradient(to bottom, rgb(136, 38, 19) 0%, rgb(255,255,255) 25%, rgb(255,255,255) 100%);
    &-title {
      font-size: 2em;
      font-weight: 600;
      padding: 5rem 0 3rem 0;
    }
    &-content {
      justify-content: space-between;
      display: flex;
      flex-direction: row;
      flex-wrap : wrap;
      justify-content: space-between;
    }
    &-section {
      height: 18rem;
      border: solid 1px black;
      border-radius: 5px;
      padding: 2rem;
      margin: 2rem;
      width: calc(50% - 4rem);
      position: relative;
      margin-bottom: 0;

      &-title {
        font-size: 1.5em;
      }
      &-subtitle {
        font-size: 1.1em;
      }
    }
  }
}


