  //mobile first
.news {
  &-title {
    margin: 0;
    padding: 5rem 0 2rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
  }
  &-article {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
    justify-content: space-between;
  }
  &-imageContainer {
    width : 100%;
  }
  &-image {
    width: 100%;
    height: auto;
  }
  &-content {
    text-align: justify;
    padding: 1rem;
  }

  }

// tablettes
@media screen and (min-width : 768px) {
  /* Styles for this Media Queries */
}

//desktop
@media screen and (min-width : 1024px) {
  /* Styles for this Media Queries */
  .news {
    padding-bottom: 3rem;
    &-title {
      font-size: 2em;
      font-weight: 600;
      padding: 6rem 0 2rem 0;
    }
    &-article {
      flex-direction: row;
      padding: 0 1rem;
      width: 100%;
      line-height: 2em;
    }
    &-imageContainer {
      width : 50%;
    }
    &-image {
      width: 100%;
      height: auto;
    }
    &-content {
      width : 50%;
      padding: 2rem;
    }
  }
}
